@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.shoppingcart-page {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.shoppingcart-page h2 {
  font-size: 38px;
}

.shoppingcart-products {
  width: 90%;
  padding: 0px 20px;
  margin: auto;
  flex: 1;
}

.cart-summary {
  text-align: right;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.checkout-button {
  background-color: #1d4840;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #2a5c52;
}

.empty-cart-message {
  text-align: center;
  margin-top: 2rem;
  color: #666;
  font-size: 1.2rem;
}

.checkout-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: right;
}

.checkout-button.whatsapp {
  background-color: #25d366;
  color: white;
}

.checkout-button.instagram {
  background-color: #e1306c;
  color: white;
}

@media (max-width: 550px) {
  .cart-summary {
    text-align: center;
  }
}
