@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.info-page {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}
.info-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.info-section {
  margin-bottom: 2rem;
}

.info-section h2 {
  color: #1d4840;
  margin-bottom: 0.75rem;
  font-size: 30px;
}

.icon-title {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.icon-label {
  display: flex;
  align-items: center;
}

.material-symbols-outlined.title {
  font-size: 30px;
  margin-right: 10px;
  color: #1d4840;
}

.material-symbols-outlined.with-margin {
  margin-right: 10px;
}

.fa-icon {
  margin-right: 8px;
  color: #000000;
}

.info-section ul,
.info-section ol {
  padding-left: 1.25rem;
  line-height: 1.6;
}

.info-section ul {
  list-style-type: circle;
}

.info-section a {
  color: #45b09d;
  text-decoration: underline;
}

.info-section code {
  background-color: #f7f7f7;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  border-radius: 4px;
  font-family: monospace;
}
